.page-content {
  background: linear-gradient(135deg, #8b0416, #0245aa);
  background-image: url(./main-content-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
